h1 {
    font-size: 42px;
    font-family: "tron";
}

/* tron animation - delete ---> */
.wave {
    color: #999999;
    -webkit-animation: 5s color infinite;
            animation: 5s color infinite;
  }
  
  @-webkit-keyframes color {
    50% {
      color: #8fc8ae;
    }
  }
  
  @keyframes color {
    50% {
      color: #8fc8ae;
    }
  }
.dengleo span {
    font-size: 42px;
    font-family: "tron";
    /* opacity: 0; */
    transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}
/* <--- tron animation - delete */